<div id="topArea">
    <br>
    <div id="titleArea">
        <br>
        <h1 class="title">News Hub</h1>
        <h3 class="subtitle">Where the News Listens to You</h3>
        <br>
    </div>
    <br>

    <br>
    <div class="intro">
        <h2>Welcome to News Hub,</h2>
        <p>the web-scraping site that allows you to comment on what's going on in the world.</p>
        <p>Every time it loads, our website retrieves the latest AP news stories, delivering them to you, the reader.</p>
        <p>The newspapers may not be listening to your voice, but News Hub is!</p>
        <br>
    </div>
</div>

<br>
<div class="buttonRow">
   
        <button class="tagSearch">Search by Tag</button>
        <button class="bylineSearch">Search by Byline</button>
    
<a href="/" class="atag">
        <button class="allButton">All Stories</button>
    </a>

    <br>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-3" id="tagArea" style="display: {{display1}}">
            <br>
            <h2>Article Tags</h2>
            <br> {{#each tagList}}
            <a href="/tags/{{tagName}}">
                <button class="tag">{{tagName}}</button>
            </a>
            <br>
            <br> {{/each}}
        </div>
        <div class="col-md-3" id="bylineArea" style="display: {{display2}}">
            <br>
            <h2>Bylines</h2>
            <br> {{#each bylineList}}
            <a href="/bylines/{{bylineName}}">
                <button class="tag">{{bylineName}}</button>
            </a>
            <br>
            <br> {{/each}}
        </div>
        <br>
        <div class="col-md-9">
            <div id="articleArea">
                <br>
                <h2>AP Articles</h2>
                <br>
                <div class="panel-group" id="accordion">
                    {{#each articles}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="storyTag">Tagged: {{tag}}</span>
                                <br>
                                <a href="https://www.apnews.com{{articleLink}}">
                                    <p class="headline">{{headline}}</p>
                                </a>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{iterator}}">
                                    <i class="fas fa-arrow-down"></i>
                                </a>
                            </h4>
                            <p class="byline">By {{byline}}</p>
                            <p class="summary">{{summary}}</p>
                        </div>
                        <div id="collapse{{iterator}}" class="panel-collapse collapse in">
                            <br>
                            <div class="panel-body">
                                {{#each comments}}
                                <div class="comment">
                                    <button class="deleteComment" data-commentid="{{_id}}" data-articleid="{{articleID}}">&times;</button>
                                    <p>{{name}} said: &nbsp;&nbsp; {{comment}}</p>
                                </div>
                                <hr> {{/each}}
                                <button class="toComment" data-id="{{_id}}" data-toggle="modal" data-target="#commentModal">Post a Comment</button>
                            </div>
                            <br>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>


<br>
<div class="jsonButtons">
    <h6>To View JSON:</h6>
    <a href="/all">
        <button class="all">View All Articles</button>
    </a>

    <a href="/allComments">
        <button class="allComments">View All Comments</button>
    </a>
</div>
<br>
</div>

<footer id="footer">
    <span>&copy; 2018 &nbsp;&nbsp;Designed by Sam Liput</span>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="commentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comment Engine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Commenting on:</h5>
                <p class="articleGettingComment"></p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Comment:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="comment" placeholder="Type Comment Here"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-success commentSubmit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="/js/jscript.js"></script>